

body {
  font-family: serif;
  
}

.header-container {
  position: relative;
    width: 100%;
    height: 110vh;
   margin-top: -53px ;
   overflow-x: hidden;
  
}

.header-container-video {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  
  object-fit: cover;
  z-index: -1;
  max-width: 100vmax;
}



.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 60%;
   z-index: 0; 
  color: antiquewhite;
}





.banner {
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(210, 180, 29, 0.39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    
}

.ASO {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certsbackground {
  background-image: url("./components/assets/redTea.jpg") ;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: row;
  color:antiquewhite;
  align-items: center;
  justify-content:space-around;
  width: 100%;
}



.colCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.prodImage {
  width: 100%;
  height: auto;
  align-items: center;
}

.bgCustom {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
}

h2 > button {
  background-color: rgba(162, 160, 160, 0.16) !important;
}

h2 > div {
  background-color: rgba(162, 160, 160, 0.16) !important;
}

.accordionlight {
  background-color: rgba(3, 3, 3, 0.43) !important;
  color: white
}

.bgPic {

  background-image: url("./components/assets/matchaRocks.jpg") ;
  background-size: cover;

}
.lightText {
  color: antiquewhite;
}

.rowCarousel {
  justify-content:space-evenly;
  align-items:center; 
  
}

.LogoAnamation {
  animation: spin  20s infinite linear;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}